{% extends 'base.html.twig' %}

{% block title %}{{ 'title.auth_login'|trans }}{% endblock %}

{% block body %}
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}


    {% if error is defined and error|length %}
        {% include 'default/_single_alert_message.html.twig' with {
            is_single_message: true,
            is_dismissible: false,
            type: 'danger',
            message: error,
        } %}
    {% endif %}


    <div class="form">
        <h1>{{ 'title.auth_login'|trans }}</h1>
        {{ form_start(form, { method: 'post', action: path('auth_login_check') }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.login'|trans }}" class="btn btn-info" />
        {{ form_end(form) }}
    </div>

    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        {{ "nie_masz_jeszcze_konta" |trans }}
        <a class="btn btn-default" href="{{ url ('user_registration') }}">
            {{ 'zarejestruj'|trans }}
        </a>
    {% endif %}

{% endblock %}