{% extends 'base.html.twig' %}

{% block title %}
    {{ 'serwis_ogloszeniowy_strona_glowna'|trans}}
{% endblock %}

{% block content %}
    <p>Strona główna</p>
    <a href ="{{ url ('ads_add') }}">
        <button class="btn btn-info">Dodaj ogłoszenie</button>
    </a>

    <a href ="{{ url ('user_registration') }}">
        <button class="btn btn-info">Zarejestruj</button>
    </a>


    <H1>{{ 'kategorie'|trans}}</H1>
    {% for category in categories %}
        <p>{{ 'nr_kategorii'|trans}}: {{ category.id }}</p>
        <p>{{ 'nazwa_kategorii'|trans}}: {{ category.name }}</p>
    {% endfor %}

    <H1>Lista użytkowników</H1>
    {% for user in users %}
        <p>{{ user.login}}</p>
        {{ user.firstname}}
        {#<p>{{ user.email}}</p>#}
    {% endfor %}


{% endblock %}