{% extends 'base.html.twig' %}

{% block title %}{{ 'wyszukiwarka'|trans }}{% endblock %}

{% block body %}

    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}
    <div class="container">
    <div class="col-md-12">
        <a class="btn btn-info" href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span aria-hidden="true">&larr;</span>{{ 'label.back'|trans }}
        </a>


    <h1>{{ 'wyszukiwarka'|trans }}</h1>






    {{ form_start(form, { method: 'post', action: url('home_search') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.search'|trans }}" class="btn btn-info" />
    {{ form_end(form) }}
    </div>
    </div>



{% endblock %}