{% extends 'base.html.twig' %}

{% block title %}{{ 'wyszukiwarka'|trans }}{% endblock %}

{% block body %}

    <div class="col-md-3">
        <a class="btn btn-info" href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span aria-hidden="true">&larr;</span>{{ 'label.back'|trans }}
        </a>
    </div>

    <h1>{{ 'ogloszenia_kategorii'|trans }}: {{ category.name }}</h1>


    {% include "advertisement/ads_list.html.twig" %}

    <div class="paginator container">
        {% include 'default/_paginator_category_view.html.twig' with {
            paginator: advertisements,
            route_name: 'category_view',
        } %}
    </div>

{% endblock %}