{% extends 'base.html.twig' %}

{% block title %}{{ 'usun_uzytkownika'|trans({'%id%': user.id}) }}{% endblock %}

{% block body %}

    <div class="col-md-3">
        <a class="btn btn-info" href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span aria-hidden="true">&larr;</span>{{ 'label.back'|trans }}
        </a>
    </div>

    <h1>{{ 'usun_uzytkownika'|trans({'%id%': user.id}) }}</h1>
    {{ 'czy_na_pewno_chcesz_usunac_uzytkownika'|trans}}
    {{ form_start(form, { method: 'post', action: url('user_delete', {'id': user.id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger" />
    {{ form_end(form) }}


{% endblock %}