{% extends 'base.html.twig' %}
{% block title %}
    Profil użytkownika - {{ user.id }}
{% endblock %}

{% block content %}

    <H1>Informacje o użytkowniku</H1>
    <p>{{ user.login}}</p>
    <p>{{ user.email}}</p>
    <p>{{ userData.firstname}}</p>
    <p>{{ userData.lastname}}</p>
    <p>{{ userData.phone_number}}</p>


    <H1>lista ogłoszeń</H1>
    {% for advertisement in advertisements %}
        <p>{{ advertisement.name}}</p>
        <p>{{ advertisement.user_id }}</p>
        <a href ="{{ url ('ads_view', {'id': advertisement.id}) }}">
            <p>{{ advertisement.name}}</p>
            {#<img src='' alt="{{ advertisement.photo }}">#}
        </a>
    {% endfor %}

    <H1>Dodaj ogłoszenie</H1>
    <a href ="{{ url ('ads_add') }}">
        <button class="btn btn-success">
            {{ "dodaj_ogloszenie" |trans}}
        </button>
    </a>

    <H2>{{ "edytuj_uzytkownika" |trans}}</H2>
    <a href ="{{ url ('user_edit', {'id': user.id}) }}">
        <button class="btn btn-warning">
            {{ "edytuj_uzytkownika" |trans}}
        </button>
    </a>


    <H2>{{ "usun_uzytkownika" |trans}}</H2>
    <a href ="{{ url ('user_delete', {'id': user.id}) }}">
    <button class="btn btn-danger">
    {{ "usun_uzytkownika" |trans}}
    </button>
    </a>


    {#{% for user in users %}#}

    {#<H1>Lista użytkowników</H1>#}
    {#<p>{{ user.login}}</p>#}
    {#<p>{{ user.email}}</p>#}
    {#{% endfor %}#}


{% endblock %}