{% extends 'base.html.twig' %}
{% block title %}
    Profil użytkownika - {{ user.id }}
{% endblock %}

{% block content %}

    <div class="col-md-3">
        <a href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            {{ 'label.back'|trans }}
        </a>
    </div>

    <H1>{{ "dane_autora_ogloszenia" |trans}}</H1>
    <p>{{ "label.login" |trans}}: {{ user.login}}</p>
    <p>{{ "label.email" |trans}}: {{ user.email}}</p>
    <p>{{ "label.firstname" |trans}}: {{ userData.firstname}}</p>
    <p>{{ "label.lastname" |trans}}: {{ userData.lastname}}</p>
    <p>{{ "label.phone_number" |trans}}: {{ userData.phone_number}}</p>

<div class="ad">
    <H1>{{ "lista_ogloszen" |trans}}</H1>
    {% for advertisement in advertisements %}
        <ol>
            {#</li><p>{{ advertisement.name}}</p></li>#}
            {#</li><p>{{ advertisement.user_id }}</p></li>#}
        <li><a href ="{{ url ('ads_view', {'id': advertisement.id}) }}"></li>
            <p>{{ advertisement.name}}</p>
            {#<img src='' alt="{{ advertisement.photo }}">#}
        </a>
        </ol>
    {% endfor %}
</div>

    <H1>{{ "dodaj_ogloszenie" |trans}}</H1>
    <a href ="{{ url ('ads_add') }}">
        <button class="btn btn-success">
            {{ "dodaj_ogloszenie" |trans}}
        </button>
    </a>

    <H2>{{ "edytuj_uzytkownika" |trans}}</H2>
    <a href ="{{ url ('user_edit', {'id': user.id}) }}">
        <button class="btn btn-warning">
            {{ "edytuj_uzytkownika" |trans}}
        </button>
    </a>


    <H2>{{ "usun_uzytkownika" |trans}}</H2>
    <a href ="{{ url ('user_delete', {'id': user.id}) }}">
    <button class="btn btn-danger">
    {{ "usun_uzytkownika" |trans}}
    </button>
    </a>


    {#{% for user in users %}#}

    {#<H1>Lista użytkowników</H1>#}
    {#<p>{{ user.login}}</p>#}
    {#<p>{{ user.email}}</p>#}
    {#{% endfor %}#}


{% endblock %}