{% extends 'base.html.twig' %}
{% block title %}
    {{"profil" |trans  }} - {{ user.id }}
{% endblock %}

{% block content %}

    <div class="col-md-3">
        <a href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span aria-hidden="true">&larr;</span>{{ 'label.back'|trans }}
        </a>
    </div>

    <H1>{{ "dane_autora" |trans}}</H1>
    <p>{{ "label.login" |trans}}: {{ user.login}}</p>

    <p>{{ "label.email" |trans}}: {{ user.email}}</p>
    <p>{{ "label.firstname" |trans}}: {{ userData.firstname}}</p>
    <p>{{ "label.lastname" |trans}}: {{ userData.lastname}}</p>
    <p>{{ "label.phone_number" |trans}}: {{ userData.phone_number}}</p>

<div class="ad">
    <H1>{{ "lista_ogloszen" |trans}}</H1>
    {% for advertisement in advertisements %}

            {#</li><p>{{ advertisement.name}}</p></li>#}
            </li><p>{{ ad.source }}</p></li>
        <a href ="{{ url ('ads_view', {'id': advertisement.id}) }}"></li>
            <p>{{ advertisement.name}}</p>
            {#<img src='' alt="{{ advertisement.photo }}">#}
        </a>

    {% endfor %}
</div>

    

    {% if (is_granted('IS_AUTHENTICATED_FULLY' ) and loggedUser.id == user.id) or is_granted('ROLE_ADMIN')%}


    <a href ="{{ url ('user_edit', {'id': user.id}) }}">
        <button class="btn btn-warning">
            {{ "edytuj_uzytkownika" |trans}}
        </button>
    </a>



    <a href ="{{ url ('user_delete', {'id': user.id}) }}">
    <button class="btn btn-danger">
    {{ "usun_uzytkownika" |trans}}
    </button>
    </a>

    {% endif %}


{% endblock %}