{% extends 'base.html.twig' %}

{% block title %}{{ 'dodawanie_zdjec'|trans }}{% endblock %}

{% block body %}
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    <div class="col-md-3">
        <a href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span aria-hidden="true">&larr;</span>{{ 'label.back'|trans }}
        </a>
    </div>

    <h1>{{ 'dodawanie_zdjec'|trans }}</h1>
    {#{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}#}
    {{ form_start(form, { method: 'post', action: url('photo_add') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}