{% extends 'base.html.twig' %}

{% block title %}{{ 'usun_ogloszenie'|trans({'%id%': ad.id}) }}{% endblock %}

{% block body %}

    <div class="col-md-3">
        <a href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span aria-hidden="true">&larr;</span>{{ 'label.back'|trans }}
        </a>
    </div>

    <h1>{{ 'usun_ogloszenie'|trans({'%id%': ad.id}) }}</h1>
    {{ form_start(form, { method: 'post', action: url('ads_delete', {'id': ad.id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
    <a href="{{ url('ads_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-default">
        <span class="fa fa-mail-reply" aria-hidden="true"></span>
        {{ 'label.back_to_list'|trans }}
    </a>
{% endblock %}