{% extends 'base.html.twig' %}

{% block title %}
    {{ "ad" |trans }} {{ advertisement.id }}
{% endblock %}

{% block content %}
    <H1>{{ "ad" |trans }} {{ advertisement.id }}</H1>

    <div class="col-md-3">
        <a href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span aria-hidden="true">&larr;</span>{{ 'label.back'|trans }}
        </a>
    </div>


    <div class="">
    {% if advertisement %}
        {% if advertisement.source %}

            <img src="{{ asset('uploads/photos/' ~ photo.source) }}" alt="{{ photo.source }}">

            <p>{{ 'photo_name'|trans }}: {{ photo.name }}</p>
        {% else %}
            <img src="{{ asset('images/brak_zdjecia.jpg') }}">
        {% endif %}

        {#<p>{{ 'label.login'|trans}}: {{ advertisement.login}}</p>#}
        {{ 'dodane_przez_uzytkownika_nr'|trans }}:
        <a href="{{ url ('user_view', {'id': advertisement.user_id}) }}">
            {{ advertisement.login }}
        </a>
        <p>{{ 'nazwa_ogloszenia'|trans }}: {{ advertisement.name }}</p>
        <p>{{ 'label.price'|trans }}: {{ advertisement.price }}{{ 'zl'|trans }}</p>
        <p>{{ 'label.description'|trans }}: {{ advertisement.description }}</p>
        <p>{{ 'label.province'|trans }}: {{ advertisement.province }}</p>
        <p>{{ 'label.location'|trans }}: {{ advertisement.location_name }}</p>
        {#<p>{{ 'nazwa_kategorii'|trans}}: {{ advertisement.category_name }}</p>#}
        <p>{{ 'nazwa_kategorii'|trans }}:</p>
        <a href="{{ url ('category_view', {'id': advertisement.category_id}) }}">
            {{ advertisement.category_name }}
        </a>
        <p>{{ 'label.type'|trans }}: {{ advertisement.type_name }}</p>


        {#<p>{{ advertisement.photo}}</p>#}
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY' ) and loggedUser.id==advertisement.user_id or is_granted('ROLE_ADMIN') %}

            <a href="{{ url ('ads_edit', {'id': advertisement.id}) }}">
                <button class="btn btn-warning">
                    {{ "edytuj_ogloszenie" |trans }}
                </button>
            </a>

            <a href="{{ url ('ads_delete', {'id': advertisement.id}) }}">
                <button class="btn btn-danger">
                    {{ "usun_ogloszenie" |trans }}
                </button>
            </a>
        {% endif %}


    {% else %}
        <p>{{ "nie_ma_takiego_ogloszenia" |trans }}.</p>
    {% endif %}


{% endblock %}