{% extends 'base.html.twig' %}

{% block title %}
    {{ "ad" |trans}} {{ advertisement.id }}
{% endblock %}

{% block content %}
    <H1>{{ "ad" |trans}} {{ advertisement.id }}</H1>

    <div class="col-md-3">
        <a href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back'|trans }}" class="btn btn-default">
            <span class="fa fa-mail-reply" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-arrow-left"></i>
            {{ 'label.back'|trans }}
        </a>
    </div>


<div class="">
    {% if advertisement %}
        {% if photo %}
        <img src="{{  asset('uploads/photos/' ~ photo.source) }}" alt="{{ photo.source }}">
            <p>{{ 'photo_name'|trans}}: {{ photo.name}}</p>
        {% else %}
            <img src="{{ asset('images/logo.jpg')}}">
        {% endif %}

        <p>{{ 'label.login'|trans}}: {{ advertisement.author}}</p>
        <p>{{ 'nazwa_ogloszenia'|trans}}: {{ advertisement.name}}</p>
        <p>{{ 'dodane_przez_uzytkownika_nr'|trans}}: {{ advertisement.user_id }}</p>
        <p>{{ 'label.price'|trans}}: {{ advertisement.price }}</p>
        <p>{{ 'label.description'|trans}}: {{ advertisement.description }}</p>
        <p>{{ 'label.province'|trans}}: {{ advertisement.province }}</p>
        <p>{{ 'label.location'|trans}}: {{ advertisement.location_name }}</p>
        <p>{{ 'nazwa_kategorii'|trans}}: {{ advertisement.category_name }}</p>
        <p>{{ 'label.type'|trans}}: {{ advertisement.type_name }}</p>

        {#<p>{{ advertisement.photo}}</p>#}
        </div>
        {#<H2>Edytuj ogłoszenie</H2>#}
        <a href ="{{ url ('ads_edit', {'id': advertisement.id}) }}">
            <button class="btn btn-warning">
                {{ "edytuj_ogloszenie" |trans}}
            </button>
        </a>

        {#<H2>Usuń ogłoszenie</H2>#}
        <a href ="{{ url ('ads_delete', {'id': advertisement.id}) }}">
            <button class="btn btn-danger">
                {{ "usun_ogloszenie" |trans}}
            </button>
        </a>

        <H1>{{ "dane_autora_ogloszenia" |trans}}</H1>
        <p>{{ 'nr_id_uzytkownika'|trans}}: {{ advertisement.user_id}}</p>
        <p>{{ 'label.login'|trans}}: {{ advertisement.author }}</p>

    {% else %}
        <p>{{ "nie_ma_takiego_ogloszenia" |trans}}.</p>
    {% endif %}

    {#<H1>{{ "komentarze" |trans}}</H1>#}
        {#{% for comment in comments %}#}

            {#<p>{{ "data_dodania" |trans}}: {{ comment.date }}</p>#}
            {#<p>Treść: {{ comment.text }}</p>#}
            {#<p>Login: {{ comment.login }}</p>#}

        {#{% endfor %}#}

    {#<H2>Dodaj komentarz</H2>#}
   {#{% include 'comment/add.html.twig' %}#}

    {#<H2>Edytuj komentarz</H2>#}
    {#<a href ="{{ url ('comment_edit', {'id': advertisement.id}) }}">#}
        {#<button class="btn btn-warning">#}
            {#{{ "edytuj_komentarz" |trans}}#}
        {#</button>#}
    {#</a>#}

    {#<H2>Usuń komentarz</H2>#}
    {#<a href ="{{ url ('comment_delete', {'id': advertisement.id}) }}">#}
        {#<button class="btn btn-danger">#}
            {#{{ "usun_komentarz" |trans}}#}
        {#</button>#}
    {#</a>#}

{% endblock %}